<body class="two-col" id="default">
  <div class="container">
    <%= render :partial => 'spree/shared/header' %>
    <div class="col-md-12 text-center">
      <div class="col-md-3">
        <div class="col-md-8">
          <div id="legal-doc-wrapper">
            <p><%= link_to 'PRIVACY POLICY', main_app.pages_privacypolicy_path, class: 'legal-doc-button' %></p>
            <p><%= link_to 'T & C', main_app.pages_termsandconditions_path, class: 'legal-doc-button' %></p>

          </div>
          <div>
            <p><%= link_to 'FAQ', main_app.pages_termsandconditions_path, class: 'legal-doc-button' %></p>
            <p><%= mail_to "info@cardinalcorp.com.au", "EMAIL US", class: 'legal-doc-button' %></p>

          </div>


        </div>

      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</body>
<%= render :partial => 'spree/shared/footer' %>
