<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if products.any? %>
  <div id="products" class="col-md-12 product-listing" data-hook>
    <% products.each do |product| %>
      <div class="col-md-4" id="productimage">
        <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
        <div class="col-md-2">

        </div>
        <div id="product_<%= product.id %>" class="col-md-8 product-container  <%= cycle("alpha", "secondary", "", "omega secondary", name: "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product" >
          <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>

            <div class="product-image text-center">
              <%= link_to image_tag(product.display_image.attachment(:product), itemprop: "image"), url, itemprop: 'url' %>
            </div>
            <h5 id="product-name">
              <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
            </h5>

            <h5 class="price selling" itemprop="price" id="product-name-price">
              <%= display_price(product) %>
            </h5>

          <% end %>
        </div>
        <div class="col-md-2">

        </div>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
